/logs/
/plugins/
/.work/
/qtbindings/.qmake.stash
/qtbindings/Makefile*
/qtbindings/*/Makefile*
/qtbindings/*/debug/
/qtbindings/*/release/
*.dll
*.exe
*.obj
*.pdb
*.ilk
*.exp
*.lib
*__
build_qtbindings/
